<!-- Marketplace
========================== -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
      <a href="\pracMatras"> 
        <img class="img-circle" src="images/teddy1.png" alt="" width="30%" height="30%">
      </a>
        <h4>Practice with Matras</h4>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
      <a href="/pracCons"> 
        <img class="img-circle" src="images/monkey1.png" alt="" width="30%" height="30%">
      </a>
        <h4>Practice Consonants</h4>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
      <a  href="vowels.html"> 
        <img class="img-circle" src="images/bunny1.png" alt="" width="30%" height="30%">
      </a>
        <h4>All  Vowels</h4>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
      <a  href="cons.html"> 
        <img class="img-circle" src="images/cuty1.png" alt="" width="30%" height="30%">
      </a>
        <h4>All Consonants</h4>
    </div>
  </div>
</div>
<br><br>
