
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gameBox">	
		<div class="setBox">
			<div class="gameSettings ng-hide" ng-show="showSettings">
               <form class="form-group">
				  	<label class="inpt">
				  		<input type="checkbox" class="form-control checkbox-inline" ng-click="toggleShuffle()"> Randomized </input>
				  	</label>	<br>
				  	<label class="inpt">
				  		<input type="checkbox" class="form-control checkbox-inline" ng-click="imgShow = !imgShow" checked="checked"> Hide Images</input>
				  	</label>
					  <!--<label class="inpt">
					  	<input type="radio" class="form-control radio-inline" ng-model="imgShow" ng-value="true">Hide Images  
					  </label><br>
					  <label class="inpt">
					  		<input type="radio" class="form-control   	radio-inline" ng-model="imgShow" ng-value="false">Show Images </label>	-->
			  </form>
			</div>
			<div class="btnSet">
				<button class="btn btn-info btn-lg" ng-click="showSettings=!showSettings">:</button>	
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8   imgBox">
				<img class="img-responsive" 
						ng-src="images/{{akshar.exm}}" 
						ng-hide="akshar.word=='' || akshar.vizbl" ng-show="imgShow">		
				</img>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4  aksBox" >
				<button type="button" class="btn btn-secondary aks btn-block" 
						data-toggle="modal" 
						data-target="#signinModal"		
						ng-click="showMatraModal()"			
						ng-bind-html=" akshar.utf8Code | safeHTML">			
				</button>
				<button type="button" class="btn btn-success btn-lg btn-block btnWord" 	
				    	ng-click="	imgShow=!imgShow" ng-hide="akshar.word==''"
				    	ng-bind-html=" akshar.word | safeHTML"> 
				</button>
			</div> 		
		</div>								
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnBox">
	<div class="row">
	<div class="col-xs-6"><button class="btn btn-primary btn-block btn-lg btnGame" ng-click="next(-1)"> << </button></div>
		<div class="col-xs-6"><button class="btn btn-primary btn-block btn-lg btnGame" ng-click="next(1)"> >> </button></div>		
	</div>
</div>	
<!-- 

<div class="row" >
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 gameBox">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8   imgBox">
			<img class="img-responsive" 
					ng-src="images/{{akshar.exm}}" 
					ng-hide="akshar.word=='' || akshar.vizbl" ng-show="imgShow">		
			</img>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4  aksBox" >
			<button type="button" class="btn btn-secondary aks btn-block" 
					data-toggle="modal" 
					data-target="#signinModal"		
					ng-click="showMatraModal()"			
					ng-bind-html=" akshar.utf8Code | safeHTML">			
			</button>
			<button type="button" class="btn btn-success btn-lg btn-block btnWord" 	
			    	ng-click="	imgShow=!imgShow" ng-hide="akshar.word==''"
			    	ng-bind-html=" akshar.word | safeHTML"> 
			</button>
		</div> 		
	</div>								
	</div>	
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 btnBox">	
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12"><button class="btn btn-primary btn-block btn-lg btnGame" ng-click="next(1)"> >> </button></div>
		<div class="col-md-12 col-sm-12 col-xs-12"><button class="btn btn-primary btn-block btn-lg btnGame" ng-click="next(-1)"> << </button>	</div>
	</div>	
					  
	</div>
</div>
	<button type="button" class="btn btn-success btn-lg" 
			data-toggle="modal" 
			data-target="#signinModal" 
	    	ng-click="showMatraModal()" 
	    	ng-bind-html=" akshar.word | safeHTML"> 
	</button>
<span class="exmWord" ng-bind-html=" akshar.word | safeHTML"></span>
&#2350;&#2366;&#2340;&#2381;&#2352;&#2366;-->


